<!DOCTYPE html>
<html>
<body>
<script src="search_course.js" type="text/javascript" charset='utf-8'></script>
<h1>Search for your courses:</h1>

<br>
<div align=center>
  <%= form_tag("show_results", method: "get", id:'search',remote:true) do %>
  Subject:
  <select name = "selection" onchange = "any_change()" class="form-control">
    <%= Subject.all.each do |s| %>
    <option><%=s.name%></option>
    <%end%>
  Courses:
  <input type="string" class="form-control" oninput = "any_change()" name="terms">
  <% end %>
</div>

<div id="show_search_results">
  <%=render 'show_search_results'%>
</div>

</body>
</html>
